@import "tailwindcss";


body {
  @apply bg-sky-50 text-black;
}

/* index.css */
@layer base {
  /* Apply scrollbar styles globally */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 6px;
    border: 2px solid transparent;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}
  
